Repository prisma/docs, pull requests merged in 2020-10, with the labels that each got.

#888 2.8.0
  content/03-reference/01-tools-and-interfaces/01-prisma-schema/index.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/030-crud.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/050-filtering.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/055-case-sensitivity.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/075-distinct.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/170-aggregations.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware.mdx
  content/05-more/00-whats-new-in-prisma-docs.mdx
Labels: docs/new

#869 Middleware
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware/100-soft-delete-middleware.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware/200-logging-middleware.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware/300-session-data-middleware.mdx
  content/03-reference/01-tools-and-interfaces/02-prisma-client/180-middleware/index.mdx
  content/05-more/00-whats-new-in-prisma-docs.mdx
Labels: docs/new

#905 Use correct casing in GitHub
  config.js
  content/04-guides/02-deployment/04-deploying-to-netlify.mdx
  src/components/pageBottom.tsx
Labels: hacktoberfest-accepted

#909 Add information about telemetry in Studio
  content/03-reference/03-more/02-telemetry.mdx
Labels: docs/improvement
