Repository prisma/docs, pull requests merged in 2022-06, with the labels that each got.

#3307 Update references to extendedIndexes Preview feature
  content/400-reference/200-api-reference/100-prisma-schema-reference.mdx
Labels: team/schema

#3302 Upgrade guide to Prisma 4
  content/300-guides/300-upgrade-guides/200-upgrading-versions/030-upgrading-to-prisma-4.mdx
Labels: team/schema, team/client

#3251 Removed references to `filterjson` being a preview feature
  content/200-concepts/100-components/02-prisma-client/051-working-with-fields/100-working-with-json-fields.mdx
  content/200-concepts/100-components/250-preview-features/050-client-preview-features.mdx
  content/400-reference/200-api-reference/050-prisma-client-reference.mdx
Labels: docs/improvement, team/client

#3259 3183 stabilize improvedqueryraw preview feature prisma 4
  content/200-concepts/100-components/02-prisma-client/090-raw-database-access.mdx
  content/200-concepts/100-components/250-preview-features/050-client-preview-features.mdx
  content/200-concepts/150-data-platform/02-data-proxy.mdx
Labels: team/client

#3256 Removed mentions of Node.js 12.x
  content/100-getting-started/01-quickstart.mdx
  content/300-guides/300-upgrade-guides/800-upgrade-from-prisma-1/08-upgrade-from-mongodb-beta.mdx
  content/400-reference/100-system-requirements.mdx
Labels: team/client, breaking change

#3276 3179 document mongodb composite default filling on required fields prisma 4
  content/200-concepts/100-components/02-prisma-client/056-composite-types.mdx
Labels: team/client

#3304 Scalar list default docs
  content/200-concepts/100-components/01-prisma-schema/04-data-model.mdx
  content/400-reference/200-api-reference/100-prisma-schema-reference.mdx
Labels: team/schema

#3277 Add unique attribute to 1:1 relations
  content/200-concepts/100-components/01-prisma-schema/04-data-model.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/100-one-to-one-relations.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/400-self-relations.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/index.mdx
  content/200-concepts/100-components/02-prisma-client/030-crud.mdx
  content/200-concepts/100-components/02-prisma-client/035-select-fields.mdx
  content/300-guides/050-database/100-developing-with-prisma-migrate/170-customizing-migrations.mdx
  content/300-guides/050-database/100-developing-with-prisma-migrate/index.mdx
  content/300-guides/050-database/400-prototyping-schema-db-push.mdx
  content/300-guides/300-upgrade-guides/800-upgrade-from-prisma-1/02-schema-incompatibilities.mdx
  content/300-guides/300-upgrade-guides/800-upgrade-from-prisma-1/03-upgrading-the-prisma-layer.mdx
  content/300-guides/400-migrate-to-prisma/02-migrate-from-sequelize.mdx
  content/400-reference/200-api-reference/200-command-reference.mdx
Labels: team/schema

#3312 many-to-many relations: Mention that fields and references are forbidden in `@relation` for implicit m-n relations (+ improve related documentation)
  content/200-concepts/100-components/01-prisma-schema/06-relations/300-many-to-many-relations.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/400-self-relations.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/500-troubleshooting-relations.mdx
  content/200-concepts/100-components/01-prisma-schema/06-relations/index.mdx
  content/300-guides/400-migrate-to-prisma/01-migrate-from-typeorm.mdx
Labels: team/schema
